sudo: required
services: 
    - docker

before_install:
    - docker build -t gleisoncs/docker-react -f Dockerfile.dev .

script:
    - docker run -e CI=true gleisoncs/docker-react npm run test -- --coverage

language: generic